# Ignore all
*

# Unignore
!.gitignore
!README.md
!*.cpp
!*.h

!src/
!depreciated_src/
!include/
!tests/
!resources/
!resources/app_icon.rc

!resources/app_icon.rc    # feel free to change with your own icon file
!CMakeLists.txt
!cmake/